[Unit]
Description=Execute the frr evpn route watcher every 10 seconds

[Timer]
OnCalendar=*:*:0/10
Unit=frr-evpn-route-watcher.service

[Install]
WantedBy=default.target
